google-api-python-client==2.149.0
oauthlib==3.2.2
openai==1.51.1
requests==2.32.3
urllib3==2.2.3
google_auth_oauthlib==1.2.1
aiohttp==3.10.10
schedule==1.2.2
httpx==0.27.2
pyuseragents==1.0.5
loguru==0.7.2